<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621949933166-psc9aq4snfv9660qd2sdcdd9r2vh7b6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621949933166-psc9aq4snfv9660qd2sdcdd9r2vh7b6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-_chntRVONOCSLVMnFqYRHVlzO7lQIg</string>
	<key>GCM_SENDER_ID</key>
	<string>621949933166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pointofsale</string>
	<key>PROJECT_ID</key>
	<string>pointofsale-6e209</string>
	<key>STORAGE_BUCKET</key>
	<string>pointofsale-6e209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621949933166:ios:39fef96e5ccf89a4e1b87f</string>
</dict>
</plist>